pre {
position: absolute;
left: 50%;
top: 50%;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
border: 1px solid gray;
}

body {
color: white;
background-color: black;
}

.title {
  font-family: 'Press Start 2P', cursive;
  color: white;
  font-size: 3vh;
  text-align: center;
}

.scoreboard {
  font-family: 'Press Start 2P', cursive;
  background-color: black;
  color: white;
  font-size: 20px;
  text-align: right;
  position: absolute;
  top: 2vh;
  right: 1.5vw;
  width: 13vw;
  padding-top: 5;
  padding-left: 5;
}